<div>
    <table>
        <tr>
            <td>Salad</td>
            <td><button id="more" (click)="moreSalad()">MORE</button></td>
            <td><button id="less" (click)="lessSalad()">LESS</button></td>
        </tr>
        <tr>
            <td>Bacon</td>
            <td><button id="more" (click)="moreBacon()">MORE</button></td>
            <td><button id="less" (click)="lessBacon()">LESS</button></td>
        </tr>
        <tr>
            <td>Cheese</td>
            <td><button id="more" (click)="moreCheese()">MORE</button></td>
            <td><button id="less" (click)="lessCheese()">LESS</button></td>
        </tr>
        <tr>
            <td>Meat</td>
            <td><button id="more" (click)="moreMeat()">MORE</button></td>
            <td><button id="less" (click)="lessMeat()">LESS</button></td>
        </tr>
    </table>
</div>
